@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #1f2034;
}

.top-section button{
    background-color: #393f64 !important;
}

.top-section button:hover{
    background-color: rgba(255, 255, 255, 0.05);
}

.table,thead tr td, tbody tr td{
    background-color: #2d2f4b !important;
}

.collapse-table >*{
    background-color:  #1f2034 !important;
}

tr{
    padding-bottom: 50px !important;
}


@media (max-width: 500px) {
    th:nth-child(2), td:nth-child(2),
    th:nth-child(3), td:nth-child(3),
    th:nth-child(4), td:nth-child(4){
        display: none;
    }

}
